*  {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;

  font-family: Sans-serif;

  background-color: #ddd;
}
